/* Functions.css - Classes only, max length 9 characters */
.pledge{
  width:90vw;
}
.button-primary{
  padding: 1rem 4rem;
  border: solid 1px black;
  font-weight: 600;
  text-decoration: none;
}
.button-disabled{
  padding: 1rem 4rem;
  border: solid 2px lightgrey;
  font-weight: 600;
  text-decoration: none;
  color: lightgrey;
}
.button-primary:visited{
  color: black;
}
.button-primary:hover{
  color: white;
  background-color: #b8c2cc;
  border: solid 1px #b8c2cc;
}
/* add bullets to ul item */
.bullet{
  list-style: circle;
}
.pb-56{
  padding-bottom:56.25%;
}
.bg-sf-blue{
  background-color: #6DD0F6;
}
.clip{
   clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 80%,0 100%);
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 80%,0 100%);
}

.clip-2{
  clip-path: polygon(100% 0, 100% 90%, 0% 100%, 0 10%);
  -webkit-clip-path: polygon(100% 0, 100% 80%, 0% 100%, 0 20%);
}


/* custom width */

 /* custom height */

 .m-h-100{
   min-height: 25rem;
 }

 .m-h-120{
   min-height: 30rem;
 }
 .max-h-186{
   max-height: 46.5rem;
 }


/* custom space Modifires */
.mb-20{
  margin-bottom: 5rem;
}
.sm:.mb-20{
  margin-bottom: 5rem;
}

/* overflow-modifiers */
.overflow-x-hidden{
  overflow-x: hidden;
}

/* position Modifires  */
.top-14{
  top:3.5rem;
}
.top-20{
  top:5rem;
}
.left-20{
  left:4.5rem;
}
.right-12{
  right: 3rem;
}

.bottom-28{
  bottom: 7rem;
}

.-z-10{
  z-index: -10;
}

  @media (min-width:992px) {
    header{
      height: 100%;
      min-height: 35rem;
    }
    .header-banner{
      background-position: 50% center;
    }
    .pledge{
      width: 40vw;
    }
  }
