/* Functions.css - Classes only, max length 9 characters */
.button-primary{
  padding: .5rem 2rem;
  border: solid 1px white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}
.button-disabled{
  padding: 1rem 4rem;
  border: solid 2px lightgrey;
  font-weight: 600;
  text-decoration: none;
  color: lightgrey;
}
.button-primary:visited{
  color: black;
}
.button-primary:hover{
  color: #6F59A6;
  background-color: white;
}
/* add bullets to ul item */
.bullet{
  list-style: circle;
}
.pb-56{
  padding-bottom:56.25%;
}
.bg-sf-blue{
  background-color: #6DD0F6;
}
.clip{
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 95%,0 100%);
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 95%,0 100%);
}

.clip-2{
clip-path: polygon(100% 0, 100% 95%, 0% 100%, 0 10%);
-webkit-clip-path: polygon(100% 0, 100% 95%, 0% 100%, 0 20%);
}


/* custom width */
.w-62{
  width: 62vw;
}
.title-width{
  width: 16rem;
}
 /* custom height */

 .m-h-100{
   min-height: 25rem;
 }

 .m-h-120{
   min-height: 30rem;
 }
 .m-h-152{
   min-height: 38rem;
 }
 .max-h-186{
   max-height: 46.5rem;
 }


/* custom space Modifires */
.mb-20{
  margin-bottom: 5rem;
}
.mr-20{
  margin-right: 5rem;
}
.mb-28{
  margin-bottom: 7rem;
}
.sm:.mb-20{
  margin-bottom: 5rem;
}
.title-margin{
  margin-bottom: 2rem;
}

/* overflow-modifiers */
.overflow-x-hidden{
  overflow-x: hidden;
}

/* position Modifires  */
.top-14{
  top:3.5rem;
}
.top-20{
  top:5rem;
}
.left-20{
  left:4.5rem;
}
.right-12{
  right: 3rem;
}

.bottom-28{
  bottom: 7rem;
}

.-z-10{
  z-index: -10;
}

  @media (min-width:992px) {
    header{
      height: 100%;
      min-height: 35rem;
    }
    .header-banner{
      background-position: 50% center;
    }
    .title-margin{
      margin-bottom: 5rem;
    }
    .title-width{
      width: 20rem;
    }
    h2{
      font-size: 54px;
    }
    .button-primary{
      padding: 1rem 3rem;
      border: solid 1px white;
      font-weight: 600;
      text-decoration: none;
    }
    .clip{
       clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 80%,0 100%);
      -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 80%,0 100%);
    }

    .clip-2{
      clip-path: polygon(100% 0, 100% 80%, 0% 100%, 0 10%);
      -webkit-clip-path: polygon(100% 0, 100% 80%, 0% 100%, 0 20%);
    }
  }
