
main {
  margin: auto;
  padding: 1rem;
}
/* displays */
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(auto);
}
.col-1 {
  grid-column: 1;
  grid-row: 2;
}
.col-2 {
  grid-column: 2;
  grid-row: 2;
}
.col-3 {
  grid-column: 3;
  grid-row: 2;
}

  @media (min-width: 768px) {
    main {
      padding: 0;
    }

    nav > .grid {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 5rem;
      grid-template-areas:
        "nav1 nav2 nav3"
    }


    }

  @media (min-width: 992px) {

  }
}
